<h1>Blogs</h1>

<table class="table table-primary table-hover table-striped-columns table-bordered"
       style="border: 3px darkslateblue solid;">
  <thead>
  <tr>
    <th>#</th>
    <th>Cover Image</th>
    <th>Title</th>
    <th>Category</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Options</th>
  </tr>
  </thead>

  <tbody class="table-group-divider">
    @for (item of blogs; track item.id; let i = $index) {
      <tr>
        <th>{{ i + 1 }}</th>
        <td class="center-img-cell"><img alt="Cover Image" src="{{item.coverImage}}" class="img-thumbnail"
                                         style="width: 100px; height: 100px;"/></td>
        <td>{{ item.title }}</td>
        <td>{{ item.category.name }}</td>
        <td>{{ item.createdAt.toLocaleString() | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.updatedAt.toLocaleString() | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td style="width: 100px; white-space: nowrap;">
          <button class="btn btn-danger mx-1" (click)="delete(item.id)">
            <i class="bi bi-trash3"></i>
          </button>
          <button class="btn btn-warning mx-1" (click)="onSelected(item)" data-bs-toggle="modal"
                  data-bs-target="#updateModal">
            <i class="bi bi-pencil-square"></i>
          </button>
        </td>
      </tr>
    }
  <tr>
    <th colspan="6"></th>
    <th>
      <button class="btn btn-success m-3"
              (click)="newBlog = { title: '', blogImage:'',coverImage:'',userId:'',categoryId:'',description:'' }"
              data-bs-toggle="modal"
              data-bs-target="#createModal">
        <i class="bi bi-plus-square"></i> New
      </button>
    </th>
  </tr>
  </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="createModal" #createModal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <form #createForm="ngForm" (ngSubmit)="create(createForm)">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Create New Blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="createCoverImage" class="form-label">Cover Image</label>
            <input type="text" [(ngModel)]="newBlog.coverImage" name="coverImage"
                   class="form-control" id="createCoverImage" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "CoverImage") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="createBlogImage" class="form-label">Blog Image</label>
            <input type="text" [(ngModel)]="newBlog.blogImage" name="blogImage"
                   class="form-control" id="createBlogImage" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "BlogImage") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="createTitle" class="form-label">Title</label>
            <input type="text" [(ngModel)]="newBlog.title" name="title"
                   class="form-control" id="createTitle" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "Title") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="createDescription" class="form-label">Description</label>
            <textarea [(ngModel)]="newBlog.description" name="description"
                      class="form-control" id="createDescription" rows="3" required></textarea>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "Description") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="createCategory" class="form-label">Category</label>
            <select [(ngModel)]="newBlog.categoryId" name="categoryId"
                    id="createCategory" class="form-select" required>
              @for (item of categories; track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
              }
            </select>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "CategoryId") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>
          <div class="mt-3">
            @for (error of errors; track error.id) {
              @if (error.propertyName !== 'Title' &&
              error.propertyName !== 'Description' &&
              error.propertyName !== 'CategoryId' &&
              error.propertyName !== 'CoverImage' &&
              error.propertyName !== 'BlogImage') {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle"></i> Close
          </button>
          <button type="submit" class="btn btn-success" [disabled]="createForm.invalid">
            <i class="bi bi-upload"></i> Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" #updateModal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Update Blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="updateCoverImage" class="form-label">Cover Image</label>
            <input type="text" [(ngModel)]="editBlog.coverImage" name="coverImage"
                   class="form-control" id="updateCoverImage" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "CoverImage") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="updateBlogImage" class="form-label">Blog Image</label>
            <input type="text" [(ngModel)]="editBlog.blogImage" name="blogImage"
                   class="form-control" id="updateBlogImage" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "BlogImage") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="updateTitle" class="form-label">Title</label>
            <input type="text" [(ngModel)]="editBlog.title" name="title"
                   class="form-control" id="updateTitle" required>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "Title") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="updateDescription" class="form-label">Description</label>
            <textarea [(ngModel)]="editBlog.description" name="description"
                      class="form-control" id="updateDescription" rows="3" required></textarea>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "Description") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>

          <div class="mb-3">
            <label for="updateCategory" class="form-label">Category</label>
            <select [(ngModel)]="editBlog.categoryId" name="categoryId"
                    id="updateCategory" class="form-select" required>
              @for (item of categories; track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
              }
            </select>
            @for (error of errors; track error.id) {
              @if (error.propertyName === "CategoryId") {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>
          <div class="mt-3">
            @for (error of errors; track error.id) {
              @if (error.propertyName !== 'Title' &&
              error.propertyName !== 'Description' &&
              error.propertyName !== 'CategoryId' &&
              error.propertyName !== 'CoverImage' &&
              error.propertyName !== 'BlogImage') {
                <span class="text-danger d-block">-{{ error.errorMessage }}</span>
              }
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle"></i> Close
          </button>
          <button type="submit" class="btn btn-success" [disabled]="updateForm.invalid">
            <i class="bi bi-upload"></i> Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

